# <b>Module 1 - Python Basics</b> (2019-Sep-28)

### print "Hello Python 101" program, using double quotes

In [11]:
print("Hello Python 101");

Hello Python 101

### print "Hello Python 101" program, using simple quotes

In [3]:
print('Hello Python 101');

Hello Python 101

### print "Hellon\Python!" program, using

In [13]:
print("Hello\nPython!");

Hello
Python!

In [14]:
# This is a mark of comment in the code # print("Hellon\Python!")

In [15]:
# print('Hello World!')

### Types in Python

In [16]:
print(type(11));

<class 'int'>

In [17]:
print(type(22.20));

<class 'float'>

In [18]:
print(type("Hello Python"));

<class 'str'>

In [19]:
print(type(True));

<class 'bool'>

### Type Casting in Python

In [20]:
print(float(2)); # converting int to float

2.0

In [21]:
print(int(1.1)); # converting float to int

1

In [22]:
print(int('1')); # converting str to int

1

In [23]:
print(int('A')); # converting str letter to int... will got an error like following

ValueError: invalid literal for int() with base 10: 'A'

In [ ]:
print("este int " + str(1) + " é uma string"); # converting int to str

In [ ]:
print("este bool " + str(4.5) + " é uma string"); # converting bool to str

In [ ]:
print(int(True)); # converting bool to int

In [24]:
print(int(False)); # converting bool to int

0

In [25]:
print(bool(1)); # converting int to bool

True

In [26]:
print(bool(0)); # converting int to bool

False

In [27]:
print(type(int(1.0)));

<class 'int'>

### Expressions

In [28]:
print(10+20+30+40+50);

150

In [29]:
print (10+10*10);

110

In [30]:
print((10+10)*10);

200

In [31]:
print(10+(10*10));

110

### Variables

In [32]:
my_variable=1;
print(my_variable);
print(type(my_variable));

1
<class 'int'>

In [33]:
x=10+20+30+40+50
print(x);

150

In [34]:
x=150
y=x/4
print("x =",x);
print("x é do tipo",type(x));
print("y =", y);
print("y é do tipo", type(y));

x = 150
x é do tipo <class 'int'>
y = 37.5
y é do tipo <class 'float'>

In [35]:
x=150
z=x//4
print(x);
print(type(x));
print(z);
print(type(z));

150
<class 'int'>
37
<class 'int'>

In [36]:
x=150
print(type(x));
x=x/4
print(type(x));

<class 'int'>
<class 'float'>

### Arrays

In [37]:
Numbers="0123456"
Numbers[::2]

'0246'

In [38]:
"0123456".find('1');
print("0123456".find('1'));

1

In [39]:
Numbers="0123456"
Numbers.find('1');
print(Numbers.find('1'));

1

### Tuples

In [40]:
Name="Daniel ";
print(3*Name);

Daniel Daniel Daniel

### Escapes

In [41]:
print("Normal", "Daniel Skeff");
print(r"\n", "Daniel \nSkeff");
print(r"\t", "Daniel \tSkeff");
print(r"\\", "Daniel \\Skeff");
print(r"usnado r ''...\...''", r"Daniel \Skeff");

Normal Daniel Skeff
\n Daniel
Skeff
\t Daniel 	Skeff
\\ Daniel \Skeff
usnado r ''...\...'' Daniel \Skeff

### String Methods

In [42]:
Name="Daniel Skeff"
print("Name =", Name);
Name=Name.upper();
print("Name =", Name);

Name = Daniel Skeff
Name = DANIEL SKEFF

In [43]:
Name="Daniel Skeff"
print("Name =", Name);
print("Skeff string starts at positioning", Name.find("Skeff"));

Name = Daniel Skeff
Skeff string starts at positioning 7

In [45]:
Name="Daniel Skeff"
print("Name =", Name);
print("Schlobach string starts at positioning", Name.find("Schlobach")); # -1 returned means string not found

Name = Daniel Skeff
Schlobach string starts at positioning -1

In [51]:
Name="Daniel Skeff"
print("The size of the variable \"Name\" is:", len(Name))

The size of the variable "Name" is: 12

### Module 1 Review Questions

In [46]:
# What is the result of the following operation in Python: 3 + 2 * 2 
print(3 + 2 * 2);

7

In [47]:
# In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz';
print(name[0:2]);

Li

In [48]:
# In Python, if you executed var = '01234567', what would be the result of print(var[::2])? 
var = '01234567';
print(var[::2]);

0246

In [49]:
# In Python, what is the result of the following operation '1'+'2'
print('1'+'2');

12

In [50]:
# Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello';
print(myvar);
myvar = myvar.upper();
print(myvar);

hello
HELLO